.container {
    border: 1px solid #000;
    margin: 10px;
    background-color:white;
    font-family: 'Open Sans';
    padding: 10px;
}

img {
    width: 100%;
}

p {
  line-height: 1.2;
  font-family: 'Open Sans';
}

.details-section {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    padding: 5%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.button_styColor {
  padding: 10px 15px !important;
  font-weight: bold;
  --slds-c-button-radius-border: 0rem;
  --slds-c-button-neutral-color-border: rgb(30, 133, 223);
  --slds-c-button-neutral-color-background-hover: #cbcbcb;
  --slds-c-button-neutral-color-background: transparent;
  --slds-c-button-text-color: rgb(30, 133, 223);
  margin-left: -17px;
}


.custom-div {
    max-width: 1288.2px;
    width: 100%;
    height: 150px;
    background-color:#1a4363 ;
    text-align: center;
    padding-top: 20px;
    color: #f0f0f0;
}

.icons-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 0 10px; /* Adjust the margin between icons */
    width: 4%;
}

.reduce-line-spacing {
    line-height: 0; /* Adjust the value to reduce line spacing */
}

.footer_CSS {
    display: inline-flex;
    width: 100%;
    background-color: #1a4262;
    padding: 5%;
    /*height: 200px;*/
    color: #fff;
    font-size: 10px;
    line-height: 14px;
}

.logo_CSS {
    max-height: 50px;
    max-width: 120px;
}

.icon_CSS {
    padding-right: 1%;
    max-width: 30px;
    max-height: 30px;
    margin-right: 14px;
}

.nav_link {
    padding-left: 3%;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year-combobox {
    width: 100%; /* Make it responsive to its container */
    max-width: 300px; /* Set the maximum width to 300px */
    font-family: 'Open Sans';
    font-size:large;
}

.details-section {
    padding: 2%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.social-icon{
    text-align: center;
    width: 80%;
}